{% load static %}
<div class="position-sticky pt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create_project' %}">
                Create Project
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Projects
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for project in projects %}
                    <li><a class="dropdown-item" href="{% url 'project_detail' project.id %}">{{ project.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>